* {
  transition: all 1s ease;
}

.imgContenedor > img {
  object-fit: cover;
  width: 100%;
}

.botonSeguirLeyendo {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  border: solid 0.5px #000;
  background-color: rgb(255, 255, 255);
  transition: 1s;
}

.botonSeguirLeyendo:hover {
  background-color: #bbbbbb;
}

@media all and (min-width: 992px) {
  .imgContenedor > img {
    height: 768px;
  }
}
