.imgReceta{
  width: 100%;
}

.formComment .textarea{
  resize: none;
  height: 150px;
}

.formComment .btnComment{
  background: #058260;
}

.formComment .btnComment:hover{
  background: #058e69;
}

@media all and (min-width:992px){
  .detailRecipe{
    width: 800px;
  }
  
  .imgReceta{
    width: 100%;
    height: 768px;
    object-fit: cover;
  }

  .cardComment,
  .formComment{
    width: 700px;
  }
}

